{% extends "diary_base.html" %}

{% block title %}{{ entry.Title }}{% endblock %}

{% block content %}
<script src="/static/js/diary-edit.js"></script>
<script type="text/javascript">
var browser_key = "{{ browser_key }}";
</script>
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.js"></script>
<form action="{% if entry.ID %}/diary/{{ entry.ID }}/edit{% else %}/diary/new{% endif %}" method="POST">
{{ csrf_token }}

<div class="form-group">
    <label for="title">Naslov</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Naslov" value="{{ entry.Title }}" required>
</div>
<div class="form-group">
    <label for="workout">Endomondo</label>
    <select class="form-control" id="workout" name="workout">
        <option value="">Brez</option>
        {% for workout in workouts %}
            <option value="{{ workout.ID }}"{% if workout.ID == entry.MapEntry.GpsData.EndomondoID %} selected{% endif %}>
                {{ workout.Description }}
            </option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="city">Kraj</label>
    <input type="text" class="form-control google_autocomplete" id="city" name="city" placeholder="Mesto" value="{{ entry.MapEntry.City }}">
</div>
<div class="form-group">
    <label for="content">Vsebina</label>
    <textarea class="form-control" id="content" name="content" placeholder="Vsebina" rows="7" required>{{ entry.Text }}</textarea>
</div>

<button type="submit" class="btn btn-primary">Shrani!</button>

</form>
{% endblock %}
