{% extends "base.html" %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if (request.Path == '/' or request.Path == '/diary') and not year %}
        <li class="active">Dnevnik</li>
    {% else %}
        <li><a href="/diary">Dnevnik</a></li>
        {% if request.Path == '/' or request.Path == '/diary' %}
            <li class="active">{{ year }}</li>
        {% else %}
            <li>
                <a href="/diary?year={{ entry.CreatedAt.Year() }}">
                    {{ entry.CreatedAt.Year() }}
                </a>
            </li>
            <li class="active">{{ entry.Title }}</li>
        {% endif %}
    {% endif %}

    {% if entries and user %}
        <a class="btn btn-default btn-xs pull-right" href="/diary/read" role="button" title="Označi vse kot prebrano">
            <i class="fa fa-check"></i>
            Prebrano
        </a>
    {% endif %}
</ol>
{% endblock %}
