{% extends "base.html" %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if (request.Path == '/' or request.Path == '/diary') and not year %}
        <li class="active">Dnevnik</li>
    {% else %}
        <li><a href="/diary">Dnevnik</a></li>
        {% if request.Path == '/' or request.Path == '/diary' %}
            <li class="active">{{ year }}</li>
        {% elif entry.ID %}
            <li>
                <a href="/diary?year={{ entry.CreatedAt.Year() }}">
                    {{ entry.CreatedAt.Year() }}
                </a>
            </li>
            {% if not subpage %}
                <li class="active">{{ entry.Title }}</li>
            {% else %}
                <li><a href="/diary/{{ entry.ID }}">{{ entry.Title }}</a></li>
                <li class="active">{{ subpage }}</li>
            {% endif %}
        {% else %}
            <li class="active">{{ subpage }}</li>
        {% endif %}
    {% endif %}

    {% if entries %}
    <div class="pull-right">
        <a class="btn btn-default btn-xs" href="/diary/subscribe" role="button" title="Ob novi objavi boste dobili obvestilo po e-mailu">
            <i class="fa fa-envelope"></i>
            Naroči se
        </a>
        {% if user %}
            {% if hasUnread %}
                <a class="btn btn-default btn-xs" href="/diary/read" role="button" title="Označi vse kot prebrano">
                    <i class="fa fa-check"></i>
                    Prebrano
                </a>
            {% endif %}
            {% if user.HasPermissions("create_diary_entries") %}
                <a class="btn btn-default btn-xs" href="/diary/new" role="button" title="Označi vse kot prebrano">
                    <i class="fa fa-plus"></i>
                    Nov
                </a>
            {% endif %}
        {% endif %}
    </div>
    {% elif entry and user and CanEdit(entry, user) %}
    <div class="pull-right">
        {% if !entry.Published %}
            <a class="btn btn-default btn-xs" href="/diary/{{ entry.ID }}/publish" role="button">
                <i class="fa fa-eye"></i>
                Objavi
            </a>
        {% endif %}
        <a class="btn btn-default btn-xs" href="/diary/{{ entry.ID }}/edit" role="button">
            <i class="fa fa-edit"></i>
            Urejanje
        </a>
        <a class="btn btn-default btn-xs" href="/diary/{{ entry.ID }}/pictures" role="button">
            <i class="fa fa-images"></i>
            Slike
        </a>
    </div>
    {% endif %}
</ol>
{% endblock %}
