{% extends "diary_base.html" %}

{% block title %}{{ entry.Title }}{% endblock %}

{% block content %}
<div class="row">
{% if entry.MapEntryID %}
    <div class="col-xs-12 col-sm-8">
{% else %}
    <div class="col-xs-12 col-sm-12">
{% endif %}

    {% include "diary_header.html" %}

	{% autoescape off %}
        {{ entry.Text }}
    {% endautoescape %}

    {% if entry.Images %}
    <div class="diary-pictures" id="gallery">
        {% for image in entry.Images %}
            <a href="https://res.cloudinary.com/dvmih7vrf/image/fetch/w_1920,h_1080,c_fit/{{ file_url(image) }}" title="{{ image.Description }}" class="js-gallery-image">
                <img src="https://res.cloudinary.com/dvmih7vrf/image/fetch/w_150,h_113,c_fill/{{ file_url(image) }}" alt="{{ image.Description }}">
            </a>
        {% endfor %}
    </div>
    {% endif %}

    <ul class="diary-comments">
        {% for comment in entry.Comments %}
            {% if forloop.Counter % 2 == 0 %}
                <li class="even">
            {% else %}
                <li class="odd">
            {% endif %}
                {{ comment.Comment|striptags|escape|linebreaks|safe }}

                <p class="info">
                    {{ comment.CreatedAt | date:"2. 1. 2006 ob 15:04" }}
                    od {{ comment.Author.DisplayName() }}
                </p>
            </li>
        {% endfor %}

        {% if entry.Comments|length % 2 == 0 %}
            <li class="odd">
        {% else %}
            <li class="even">
        {% endif %}
        {% if user %}
            <form action="/diary/{{ entry.ID }}/comment" method="POST" accept-charset="utf-8">
                {{ csrf_token }}
                <div class="form-group">
                    <textarea class="form-control" name="comment" id="comment" placeholder="Vpišite vaše sporočilo." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Sporoči!</button>
            </form>
        {% else %}
            <p>Za komentiranje se prijavite:</p>
            <h4><a href="/auth/gplus" title="Prijavite se z Google+!" class="btn btn-link">Prijava <i class="fa fa-sign-in"></i></a></h4>
        {% endif %}
        </li>
    </ul>
</div>

{% if entry.MapEntryID %}
<div class="col-xs-12 col-sm-4">
    <a href="/map?index={{ entry.MapEntry.MapGroupID }}&marker={{ entry.MapEntryID }}" title="{{ entry.MapEntry.City }}">
        <img
            class="styled img-responsive"
            src="//maps.googleapis.com/maps/api/staticmap?center=40,-3&zoom=5&size=400x300&maptype=roadmap&markers=color:red%7Clabel:S%7C{{ entry.MapEntry.Lat }},{{ entry.MapEntry.Lon }}&sensor=false&key={{ browser_key }}"
            alt="{{ entry.MapEntry.City }}">
    </a>

    {% if entry.MapEntry.GpsDataID %}
        <a
            href="/map?index={{ entry.MapGroupID }}&marker={{ entry.MapEntryID }}&path={{ entry.MapEntry.GpsDataID }}"
            title="{{ entry.MapEntry.GpsData.Start }} - {{ entry.MapEntry.GpsData.End }} ({{ entry.MapEntry.GpsData.Length|floatformat }} km)">
            <img
                class="styled img-responsive"
                src="//maps.googleapis.com/maps/api/staticmap?size=400x300&maptype=roadmap&path=color:0x0000ff80|weight:3|enc:{{ entry.MapEntry.GpsData.MapURL }}&sensor=false&key={{ browser_key }}"
                alt="{{ entry.MapEntry.City }}">
        </a>
        <div id="height-chart" class="styled" rel="{{ entry.MapEntry.GpsDataID }}"></div>
        <script type="text/javascript" src="//www.google.com/jsapi"></script>
        <script type="text/javascript">
var heightChartData = {{ entry.MapEntry.GpsData.Data|safe }};
        </script>
        <script src="/static/js/height-chart.js"></script>
    {% endif %}
</div>
{% endif %}
</div>
{% endblock %}
