<div class="diary-entry-footer">
    <p><b>Ustvarjeno:</b> {{ entry.CreatedAt | date:"2. 1. 2006 ob 15:04" }},</p>
    {% if entry.CreatedAt != entry.UpdatedAt %}
        <p><b>Urejeno:</b> {{ entry.UpdatedAt | date:"2. 1. 2006 ob 15:04" }},</p>
    {% endif %}
    {% if entries %}
        <p><b>Avtor:</b> {{ entry.Author.DisplayName() }},</p>
        <p><b>Komentarjev: </b> {{ entry.NumComments }}</p>
    {% elif entry.GpsDataID %}
        <p><b>Avtor:</b> {{ entry.Author.DisplayName() }},</p>
        <p><b>Izhodišče:</b> {{ entry.Start }},</p>
        <p><b>Cilj:</b> {{ entry.End }},</p>
        <p><b>Razdalja:</b> {{ entry.Distance }} km</p>
    {% else %}
        <p><b>Avtor:</b> {{ entry.Author.DisplayName() }}</p>
    {% endif %}
    <div class="clear"></div>
</div>
