{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="gallery" class="gallery">
{% for image in images %}
	<a href="https://res.cloudinary.com/dvmih7vrf/image/fetch/w_1920,h_1080,c_fit/{{ image }}" class="js-gallery-image">
        <img src="https://res.cloudinary.com/dvmih7vrf/image/fetch/w_100,h_75,c_fill/{{ image }}">
    </a>
{% endfor %}
</div>
{% for gallery in galleries %}
    <h3><a href="/gallery/{{ gallery.ID }}" title="{{ gallery.Title }}">{{ gallery.Title }}</a>
{% endfor %}
{% endblock %}
