{% macro getTitle() %}
{% block title %}Camino{% endblock %}
{% endmacro %}
<!DOCTYPE html>
<html lang="sl">
  <head>
    <meta charset="utf-8">
    <title>{{ getTitle() }} :: Camino de Santiago de Compostela</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pavlov dnevnik romanja v Santiago de Compostela. Romarska pot k svetemu Jakobu (špansko ime: El Camino de Santiago), v Galiciji na severozahodu Španije, je ena najstarejših romarskih poti, stara več kot tisoč let. Poleg Rima in Jeruzalema je največja krščanska romarska pot. Ime je dobila po sv. Jakobu.">
    <meta name="author" content="Domen Ipavec">
    <meta name="Distribution" content="Global">
    <meta name="Rating" content="General">
    <meta name="Robots" content="INDEX,FOLLOW">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="sl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/lightgallery.js/1.0.1/css/lightgallery.css">
    <link rel="stylesheet" href="/static/style.css">

    <script defer src="/static/js/fontawesome/solid.min.js"></script>
    <script defer src="/static/js/fontawesome/fontawesome.min.js"></script>
  </head>
  <body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/lightgallery.js/1.0.1/js/lightgallery.min.js"></script>
<script>
$(function () {
    lightGallery(document.getElementById('gallery'), {selector: '.js-gallery-image'});
});
</script>

<div class="container container-body">

    <div class="header container-fluid navbar-default">
        <div class="pull-left">
            <h1 class="header-logo"><a href="/" title="Pojdi na domačo stran" class="header-logo-text">Camino</a></h1>
            <p class="header-slogan">Santiago de Compostela</p>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Prikaži navigacijo</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar navbar-default">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle{% if request.Path == '/diary' or request.Path == '/' %} active{% endif %}" data-toggle="dropdown" role="button" aria-expanded="false">
                        Dnevnik <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% for diaryYear in diaryYears %}
                            <li{% if diaryYear == year %} class="active"{% endif %}>
                                <a href="/diary?year={{ diaryYear }}" title="Dnevnik za leto {{ diaryYear }}">
                                    {{ diaryYear }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="/map"{% if request.Path == '/map' %} class="active"{% endif %}>Zemljevid</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle{% if request.Path == '/stats' %} active{% endif %}" data-toggle="dropdown" role="button" aria-expanded="false">
                        Statistika <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% for statsYear in statsYears %}
                            <li{% if statsYear == year %} class="active"{% endif %}>
                                <a href="/stats/{{ statsYear }}" title="Statistika za leto {{ statsYear }}">
                                    {{ statsYear }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="/camino"{% if request.Path == '/camino' %} class="active"{% endif %}>Camino</a></li>
                <li><a href="/gallery"{% if request.Path == '/gallery' %} class="active"{% endif %}>Galerija</a></li>
                <li><a href="/links"{% if request.Path == '/links' %} class="active"{% endif %}>Povezave</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li class="navbar-text"><i class="fa fa-user-circle"></i> {{ user.DisplayName() }}</li>
                    <li><a href="/auth/gplus/logout"><i class="fa fa-sign-out"></i> Odjavi</a></li>
                {% else %}
                    <li><a href="/auth/gplus" title="Prijavite se z Google+!">Prijava <i class="fa fa-sign-in"></i></a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>

    <div class="container-fluid content">
        {% block breadcrumbs %}{% endblock %}

        <h2>{{ getTitle() }}</h2>

        {% for flash in flashes %}
            <div class="alert alert-{{ flash.Type }}" role="alert">
                <p>{{ flash.Message }}</p>
            </div>
        {% endfor %}

        {% block content %}{% endblock %}<br />

        <div class="clear"></div>
    </div>

    <div class="container-fluid footer">
        <p>copyright &copy; 2009 - 2017 by <a href="https://domen.ipavec.net">Domen Ipavec</a>
    </div>

<!-- container-content end -->
</div>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6928536-8', 'auto');
  ga('send', 'pageview');

</script>
<!-- end google analytics -->

</body>
</html>
