{% extends "base.html" %}

{% block title %}Zemljevid{% endblock %}

{% block content %}

<script src="/static/js/map.js"></script>
<script type="text/javascript">
var browser_key = "{{ browser_key }}";
</script>

<div class="row">
    <div class="col-xs-12 col-sm-10">
        <div class="map"></div>
    </div>

    <div class="col-xs-12 col-sm-2">
    {% for group in groups %}
        <div class="map-group" id="map-group-{{ group.ID }}" rel="{{ group.ID }}">
            <a href="#">
                <h3>
                    <div class="map-marker map-color-icon" data-color="#{{ group.Color }}"></div>
                    <div class="map-marker map-gray-icon"></div>
                    {{ group.Name }}
                </h3>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
